  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="nav navbar-nav">
        <a class="nav-link"
          [class.active]="aba === 'home'"
          (click)="aba = 'home'">Home</a>
        <a class="nav-link"
        [class.active]="aba === 'features'"
        (click)="aba = 'features'">Features</a>
        <a class="nav-link"
        [class.active]="aba === 'pricing'"
        (click)="aba = 'pricing'">Pricing</a>
      </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'features'">Modo Features ativado</p>
  <p *ngSwitchCase="'pricing'">Modo Pricing ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>

